.employee {
  max-width: 100vw;
  height: auto;
  box-shadow: -3px -1px 23px -1px rgba(122, 122, 122, 0.71);
  -webkit-box-shadow: -3px -1px 23px -1px rgba(122, 122, 122, 0.71);
  -moz-box-shadow: -3px -1px 23px -1px rgba(122, 122, 122, 0.71);
}
